---
docdb_project_name: {{ docdb_project_name }}

# MySQL
# NB, Users will need to know the `mysql_password` in order to commit
# Changes on administrator-only web pages accessed through the http basic auth
# username and `docdb_web_admin_password` given in the Web section below

mysql_hostname: {{ mysql_hostname | default('localhost') }}
mysql_root_password: {{ mysql_root_password }}
mysql_database: {{ docdb_project_name }}_docdb
mysql_user: {{ docdb_project_name }}_admin
mysql_password: {{ mysql_password }}

docdb_db_user_rw: {{ docdb_project_name }}_user
docdb_db_user_rw_passwd: {{ docdb_db_user_rw_passwd }}
docdb_db_user_ro: {{ docdb_project_name }}_reader
docdb_db_user_ro_passwd: {{ docdb_db_user_ro_passwd }}


# Web

docdb_webmaster_name: {{ docdb_webmaster_name }}
docdb_webmaster_email: {{ docdb_webmaster_email | replace('@', '\@') }}
docdb_web_admin_password: {{ docdb_web_admin_password }}
docdb_web_user_passwd: {{ docdb_web_user_passwd }}
docdb_web_reader_passwd: {{ docdb_web_reader_passwd }}
